/node_modules
/.pnp
.pnp.js

people_counter/yolo-coco/__MACOSX/._yolo-coco
people_counter/yolo-coco/__MACOSX/yolo-coco/._coco.names
people_counter/yolo-coco/__MACOSX/yolo-coco/._yolov3.cfg
people_counter/yolo-coco/__MACOSX/yolo-coco/._yolov3.weights
people_counter/yolo-coco/yolov3.weights
people_counter/yolo-coco/yolov3.cfg
people_counter/yolo-coco/coco.names
