
logo {
  font-family: 'Quicksand';
}
.App {
  text-align: center;
  font-family: 'Quicksand', serif;
  background-color: #f5f5dc
}

.App-logo {
  height: 40vmin;
  font-family: 'Quicksand', serif;
  font-size: 8vw;
  background-color: #f5f5dc

}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/



canvas{

  width:1200px !important;
  height:720px !important;

}


.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.right_half {
  color: #fff;
  float: right;
}

.left_half {
  color: #fff;
  float: left;
}

.leftCanvas {
  float: left;
  width: 50%;
}

.rightCanvas {
  float: right;
  width: 50%;
}
*/
.wrapper {
  display: flex;
}

.left {
  flex: 0 0 65%;
  width: 50%
}

.right {
  flex: 1;
  width: 50%
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

